/*
Template Name: Inspire - Bootstrap 4 Admin Dashboard
Author: UIdeck
Website: www.uideck.com
File: Main Css File
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
    margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

h2, h4, h5 {
  color: #515365;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

a {
  color: #8a8a8a;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:hover {
  text-decoration: none;
  color: #e22a6f;
}

p {
  color: #8a8a8a;
  line-height: 1.8;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.breadcrumb-wrapper {
  margin-bottom: 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb-wrapper h4 {
  color: #515365;
  font-weight: 500;
  margin-top: 6px;
  font-size: 18px;
}

.text-semibold {
  font-weight: 500;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.text-dark {
  color: #515365 !important;
}

.text-gray {
  color: #8a8a8a !important;
}

.text-success {
  color: #24d5d8 !important;
}

.text-info {
  color: #00E676 !important;
}

.text-purple {
  color: #ab8ce4 !important;
}

.bg-primary {
  background-color: #e22a6f !important;
}

.bg-success {
  background-color: #24d5d8 !important;
}

.bg-purple {
  background-color: #ab8ce4 !important;
}

/* ==============
  Helper Classes
===================*/

.header-title {
  font-size: 16px;
}

.p-b-10 {
  padding-bottom: 10px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #e22a6f;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header {
  display: block;
  height: 65px;
  width: 100%;
  position: fixed;
  padding: 0px;
  z-index: 1040;
  background-color: #ffffff;
  border-bottom: 1px solid #e9eaec;
  margin-bottom: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.header .header-container .nav-logo {
  float: left;
  width: 270px;
}

.header .header-container .nav-logo a {
  color: #ffffff;
  font-size: 18px;
  padding-left: 0;
}

.header .header-container .nav-logo b {
  height: 60px;
  display: inline-block;
  width: 60px;
  line-height: 60px;
  text-align: center;
}

.header .header-container .nav-left, .header .header-container .nav-right {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}

.header .header-container .nav-left > li {
  float: left;
}

.header .header-container .nav-left > li > a {
  padding: 0 6px;
  line-height: calc(65px - 3px);
  min-height: calc(65px - 3px);
  color: #8a8a8a;
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.header .header-container .nav-left > li > a i {
  font-size: 18px;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  padding: 8px;
  color: #999;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.header .header-container .nav-left > li > a i:hover, .header .header-container .nav-left > li > a i:focus {
  text-decoration: none;
  background: #e22a6f;
  border-color: #e22a6f;
  color: #fff;
}

.header .header-container .nav-left {
  float: left;
}

.header .header-container .nav-right {
  float: right;
  margin-right: 30px;
  margin-top: 15px
}

.side-nav-dark .side-nav {
  background-color: #1a2942;
  color: #99abb4;
}

.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a {
  color: #99abb4;
}

.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder {
  color: #ffffff;
}

.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder {
  color: #ffffff;
}

.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .icon-holder {
  color: #ffffff;
}

.side-nav {
  width: 250px;
  background-color: #ffffff;
  z-index: 1000;
  top: 65px;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.side-nav .side-nav-inner {
  position: relative;
  height: 100%;
}

.side-nav .side-nav-inner .side-nav-menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: auto;
  height: calc(100vh - 65px);
  border-right: 1px solid #e9eaec;
}

.side-nav .side-nav-inner .side-nav-menu .main-side {
  position: relative;
  display: block;
}

.side-nav .side-nav-inner .side-nav-menu .log-out {
  position: absolute;
  bottom: 0;
  display: block;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown .arrow {
  position: absolute;
  right: 30px;
  line-height: 26px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .icon-holder {
  color: #ffffff;
}

.side-nav .side-nav-inner .side-nav-menu li a {
  color: #8a8a8a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.side-nav .side-nav-inner .side-nav-menu li a:hover, .side-nav .side-nav-inner .side-nav-menu li a:focus {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder, .side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder {
  color: #ffffff;
}

.side-nav .side-nav-inner .side-nav-menu li a.dropdown-toggle:after {
  display: none;
  border-radius: 0px;
}

.side-nav .side-nav-inner .side-nav-menu li.side-nav-header {
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 20px;
  opacity: 0.7;
}

.side-nav .side-nav-inner .side-nav-menu li .dropdown-toggle {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

.sml-btn {
  padding-left: 8px;
}

.side-nav .side-nav-inner .side-nav-menu li a .icon-holder {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  position: relative;
  left: 0;
  font-size: 20px;
  margin-right: 18px;
}

.side-nav .side-nav-inner .side-nav-menu li a .icon-holder i {
  vertical-align: middle;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a {
  color: #fff;
  background: #e22a6f;
}

.side-nav .side-nav-inner .side-nav-menu li .dropdown-toggle:hover,
.side-nav .side-nav-inner .side-nav-menu li .dropdown-toggle:focus {
  color: #fff;
  background: #e22a6f;
}

@media only screen and (min-width: 767px) {
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
  .header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: block;
  }
  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
  .header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
  .header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: block;
  }
  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
  .header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: none;
  }
}

.side-nav-folded .header .nav-left > li > a.sidenav-fold-toggler i:before {
  content: "\e914";
}

@media only screen and (max-width: 767px) {
  .header .header-container .nav-left > li > a.sidenav-fold-toggler {
    display: none;
  }
  .header .header-container .nav-left > li > a.sidenav-expand-toggler {
    display: block;
  }
}

.dropdown-toggle:after {
  text-align: center;
  display: inline;
  border: 0;
  font-size: 13px;
  font-family: "LineIcons";
  content: "\e93a";
  line-height: 0;
  vertical-align: middle;
  position: relative;
}

.log-out {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.log-out:hover,
.log-out:focus {
  color: #fff;
  background: #bd0a0a;
}

.dropdown {
  display: inline-block;
}

.table {
  margin-bottom: 0px;
}

.table > tbody > tr > td,
.table > thead > tr > td {
  line-height: 1.8;
  border-color: #e9eaec;
}

.table-lg > tbody > tr > td,
.table-lg > thead > tr > td {
  padding: 15px;
}

.table td {
  vertical-align: middle;
}

.table-overflow {
  width: 100%;
  overflow-x: auto;
}

.table-overflow .title {
  line-height: 40px;
}

.badge {
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  font-weight: 500;
}

.page-container {
  min-height: 100vh;
  padding-left: 250px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.page-container .main-content {
  padding: calc(50px + 35px) 15px 15px 15px;
  min-height: calc(100vh - 65px);
  background: #f1f2f7;
  width: 100%;
  flex-grow: 1;
}

/* Card group */
.card-group {
  margin-bottom: 20px;
}

.card-group .card {
  border-right: 1px solid #e9ecef;
}

.card-group .card .icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-group .card p {
  font-weight: 700;
  font-size: 14px;
}

.h-100vh {
  height: 100vh;
}

.error-container {
  width: 40%;
  background: #f1f1f1;
  padding: 40px;
}

.error-container .error-number {
  font-size: 135px;
  color: #e22a6f;
  font-weight: 700;
  line-height: 110px;
}

.error-container h2 {
  font-size: 32px;
  font-weight: 400;
}

.card-group .card .counter {
  font-size: 300%;
  line-height: 40px;
  font-weight: 700;
}

.card-group .align-items-center {
  align-items: center !important;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
}

.card-title {
  color: #515365;
  margin-top: 0px;
  margin-bottom: 15px;
}

.card {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #e9eaec;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.card-header {
  padding: 15px 25px;
  position: relative;
  background-color: transparent;
  border-bottom: 0px;
  min-height: 55px;
}

.card-header .card-title {
  margin-bottom: 0px;
  display: inline-block;
}

.card-header:first-child {
  border-radius: 0px;
}

.card-body {
  padding: 20px;
  position: relative;
}

.card-toolbar {
  float: right;
}

.card-toolbar ul {
  list-style: none;
  padding-left: 0px;
}

.card-toolbar ul li {
  display: inline-block;
}

.card-toolbar ul li a {
  margin-bottom: 0px;
  margin-right: 10px;
  display: block;
}

.logintitle{
  color: #1a2942;
  font-size: 32px;
}

.loginform a {
  color: #1a2942;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.loginform a:hover {
  text-decoration: none;
  color: #e22a6f;
}

.loginform .btn-primary {
  color: #fff;
  background-color: #1a2942;
  border-color: #1a2942;
}

.loginform .btn-primary:hover {
  color: #fff;
  background-color: #e22a6f;
  border-color: #e22a6f;
}

.loginform .btn-primary:focus {
  color: #fff;
  background-color: #e22a6f;
  border-color: #e22a6f;
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

form.user .custom-checkbox.small label {
  line-height: 1.5rem;
}

form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.bg-login-image {
  background: url("https://images.pexels.com/photos/1145269/pexels-photo-1145269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.bg-sign-up-image {
  background: url("https://images.pexels.com/photos/1086584/pexels-photo-1086584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.bg-gradient {
  background-color: #1a2942;
  background-image: linear-gradient(270deg, #e22a6f 10%, #1a2942 90%);
  background-size: cover;
}

.coming-event .img-thumb {
  margin-right: 20px;
}

.coming-event .event-item {
  padding: 0px 20px;
}

.coming-event .event-item li {
  margin-bottom: 38px;
}

.coming-event .text .text-link {
  font-size: 16px;
  color: #515365;
  font-weight: 500;
}

.coming-event .text .day {
  margin-bottom: 0;
  font-size: 13px;
}

.coming-event .text p {
  margin-bottom: 0;
}

.list-media {
  margin-bottom: 0px;
  display: block;
  position: relative;
  padding-left: 0;
  list-style: none;
}

.list-media .info {
  min-height: 40px;
  height: auto;
  position: relative;
}

.list-media .info .title {
  display: block;
  color: #515365;
}

.list-inline li {
  display: inline-block;
  margin-right: 10px;
}

.btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-color: #e22a6f;
  position: relative;
  z-index: 1;
  color: #fff;
}

.btn-common:hover {
  background: #101010;
  color: #fff;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* inverse buttons */

/*----------------------------------------
 Accordion
----------------------------------------*/

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e22a6f !important;
}

.content-footer {
  padding: 0px 30px;
}

.content-footer .footer {
  padding: 20px 0;
  font-size: 14px;
  border-top: 1px solid #e9eaec;
}

.content-footer .footer .go-right {
  float: right;
}

@media only screen and (max-width: 767px) {
  .content-footer .footer {
    text-align: center;
  }
  .content-footer .footer .go-right {
    float: none;
    margin-top: 15px;
    display: block;
  }
}

/*Extra*/

.panel{
  color: white;
  border:1px solid white;
  width: 370px;
  height: 280px;
  padding: 10px;
  font-size: 40px;
  align-items:center;
  justify-content:center;
  line-height: 1;
  font-size: 30px;
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
}

.cardInner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.question, .answer {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  /* Tinker */
  padding: 2em 1em
}
.answer {
  background-color: #011740;
  color: white;
  transform: rotateY(180deg);
}

.answer input {
  max-width: 100%;
}

.panel:hover .cardInner{
  /*cursor: pointer;*/
  transform: rotateY(180deg);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-rounded {
  border-radius: 30px;
}
#container{
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}
#wccontainer{
  width:100%;
  height:50vh;
  margin:0;
  padding:0;
}
#editform {
  display: none;
}
#editReflectionForm{
  display: none;
}
#editTaggingForm {
  display: none;
}
a .editText:hover{
  color:#e83e8c;
  cursor: pointer;
}
#wordCloudInput {
  position: relative;
  width: 90%;
  margin-left: 3.5%;
}
.wordCloudLabels {
  margin-right: 109px;
}

input[type=range]::-webkit-slider-thumb {
  background: #e83e8c;
}
input[type=range]::-moz-range-thumb {
  background: #e83e8c;
}
input[type=range]::-ms-thumb {
  background: #e83e8c;
}
