<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Professional Development</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">

</head>

<body>
  <div class="layout">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center h-100vh w-100vw align-items-center">
            <div class="error-container text-center">
              <h1 class="error-number" th:text="${statusCode}">Error</h1>
              <h2 class="semi-bold">There has been an issue.</h2>
              <p class="p-b-10">Sorry, please follow the link to:</p>
              <div><a href="/dashboard" class="btn btn-common btn-rounded btn-lg">Return to dashboard</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery-min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.app.js"></script>
  <script src="/js/main.js"></script>
  <script src="assets/js/jquery.app.js"></script>
</body>

</html>