<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Professional Development</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>

<body onload="setTileColour();">
  <script th:inline="javascript">
    function AddDigitToColour(limit) {
      var letters = '0123456789ABCDEF'.split('');

      return letters[Math.round(Math.random() * limit)];
    }

    function GetRandomColour() {
      colour = '#';
      colour += AddDigitToColour(5);
      for (var i = 0; i < 5; i++) {
        colour += AddDigitToColour(15);
      }
      return colour;
    }

    function setTileColour() {
      [# th:each="gridItem : ${gridList}"]

      document.getElementById([[${ gridItem.gridquestionID }]]).style.backgroundColor = GetRandomColour();

      [/]
    }
  </script>
  <div class="app header-default side-nav-dark">
    <div class="layout">
      <!-- Header START -->
      <div class="header navbar">
        <div class="header-container">
          <div class="nav-logo">
            <a href="/dashboard">
              <b><img src="/img/logo.png" alt=""></b>
              <span class="logo">
                <img src="/img/logo-text.png" alt="" width="200">
              </span>
            </a>
          </div>
          <ul class="nav-left">
            <li>
              <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
              <a class="sidenav-expand-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Header END -->

      <!-- Side Nav START -->
      <div class="side-nav expand-lg">
        <div class="side-nav-inner">
          <ul class="side-nav-menu">
            <li class="side-nav-header">
              <span>Navigation</span>
            </li>

            <!-- Go to Dashboard -->
            <li class="nav-item dropdown main-side">
              <a href="/dashboard" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-dashboard"></i>
                </span>
                <span class="title">Dashboard</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to Quick Add -->
            <li class="nav-item dropdown main-side">
              <a href="/new-activity/quick-add" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-bolt-alt"></i>
                </span>
                <span class="title">Quick Add</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to add reflections after -->
            <li class="nav-item dropdown main-side open">
              <a href="/reflection-list" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-thought"></i>
                </span>
                <span class="title">Reflect</span>
                <span class="arrow">
                  <i class="lni-minus"></i>
                </span>
              </a>
            </li>

            <!-- Go to task list -->
            <li class="nav-item dropdown main-side">
              <a href="/add-todo" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-medall-alt"></i>
                </span>
                <span class="title">To Do list</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Log out link -->
            <li class="nav-item dropdown log-out">
              <a href="/login" class="">
                <span class="icon-holder">
                  <i class="lni-exit"></i>
                </span>
                <span class="title">Log out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Side Nav END -->

      <!-- Page Container START -->
      <div class="page-container">
        <!-- Content Wrapper START -->
        <div class="main-content">
          <div class="container-fluid">

            <div class="alert-box" th:if="${savedquesion != null}">
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <strong>Success!</strong>
                <span th:text="'Your reflection on ' + ${savedquesion} + '? has been saved'"></span>
              </div>
            </div>

            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-wrap">

                    <div th:each="gridItem : ${gridList}">
                      <form class="forms-sample flex-fill" method="post" action="#"
                        th:action="@{/grid-reflection/{Aid}/{Gid}(Aid=${aid}, Gid=${gridItem.gridquestionID})}"
                        th:object="${gForm}">
                        <div class="panel m-1">
                          <div class="cardInner" th:id="${gridItem.gridquestionID}">
                            <div class="question">
                              <label th:text="${gridItem.Question}"></label>
                            </div>
                            <div class="answer">
                              <input type="text" class="form-control" th:field="*{answer}">
                              <button type="submit" class="btn btn-common mt-3">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <a th:href="@{/viewactivity/{id}(id=${aid})}" class="pull-right btn btn-common sml-btn">
                  <span class="title">Done</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->
        <footer class="content-footer">
          <div class="footer">
            <div class="copyright">
              <span>Copyright © 2021 <b class="text-dark">UIdeck</b> All Right Reserved</span>
              <span class="go-right">
                <a href="" class="text-gray">Term &amp; Conditions</a>
                <a href="" class="text-gray">Privacy &amp; Policy</a>
              </span>
            </div>
          </div>
        </footer>
        <!-- Footer END -->

      </div>
      <!-- Page Container END -->
    </div>
  </div>

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery-min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="assets/js/jquery.app.js"></script>
</body>
</html>