<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Professional Development</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
  <div class="app header-default side-nav-dark">
    <div class="layout">
      <!-- Header START -->
      <div class="header navbar">
        <div class="header-container">
          <div class="nav-logo">
            <a href="/dashboard">
              <b><img src="/img/logo.png" alt=""></b>
              <span class="logo">
                <img src="/img/logo-text.png" alt="" width="200">
              </span>
            </a>
          </div>
          <ul class="nav-left">
            <li>
              <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
              <a class="sidenav-expand-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <p th:if="${showExport != False}">You need to complete the 3 reflection sections before you can export</p>
            <a th:if="${showExport != False}" th:href="@{/exportActivity/{id}(id=${aID})}"
              class="btn btn-common sml-btn">
              <span class="icon-holder">
                <i class="lni-cloud-download"></i>
              </span>
              <span class="title">Export Activity</span>
            </a>
          </ul>
        </div>
      </div>
      <!-- Header END -->

      <!-- Side Nav START -->
      <div class="side-nav expand-lg">
        <div class="side-nav-inner">
          <ul class="side-nav-menu">
            <li class="side-nav-header">
              <span>Navigation</span>
            </li>

            <!-- Go to Dashboard -->
            <li class="nav-item dropdown main-side">
              <a href="/dashboard" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-dashboard"></i>
                </span>
                <span class="title">Dashboard</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to Quick Add -->
            <li class="nav-item dropdown main-side">
              <a href="/new-activity/quick-add" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-bolt-alt"></i>
                </span>
                <span class="title">Quick Add</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to add reflections after -->
            <li class="nav-item dropdown main-side open">
              <a href="/reflection-list" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-thought"></i>
                </span>
                <span class="title">Reflect</span>
                <span class="arrow">
                  <i class="lni-minus"></i>
                </span>
              </a>
            </li>

            <!-- Go to task list -->
            <li class="nav-item dropdown main-side">
              <a href="/add-todo" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-medall-alt"></i>
                </span>
                <span class="title">To Do list</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Log out link -->
            <li class="nav-item dropdown log-out">
              <a href="/login" class="">
                <span class="icon-holder">
                  <i class="lni-exit"></i>
                </span>
                <span class="title">Log out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Side Nav END -->

      <!-- Page Container START -->
      <div class="page-container">
        <!-- Content Wrapper START -->
        <div class="main-content">
          <div class="container-fluid">
            <a href="/reflection-list">Return to Reflection List</a>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Word Cloud</h4>
                <a th:href="@{/wordcloud/{id}(id=${aID})}" th:if="${isWordCloud}">Submit New Word Cloud</a>
                <br><br>
                <p th:if="${isWordCloud}">No Word Cloud Submitted for this Activity</p>
                <div th:unless="${isWordCloud}" id="wccontainer"></div>
                <script th:unless="${isWordCloud}" th:inline="javascript">
                  var data1 = [# th:utext = "${wc}" /]
                  anychart.onDocumentReady(function () {
                    data = anychart.data.set(data1);
                    var mapping = data.mapAs({ x: 0, value: 1 });
                    var chart = anychart.tagCloud(mapping);
                    chart.title('Word Cloud')
                    chart.angles([0])
                    var customColorScale = anychart.scales.linearColor();
                    customColorScale.colors(["#ffcc00", "#00ccff"]);
                    chart.colorScale(customColorScale);
                    chart.colorRange().enabled(true);
                    chart.container("wccontainer");
                    chart.draw();
                    view = data.mapAs();
                  });
                </script>
              </div>
            </div>

            <div class="card" th:id="${wc}">
              <div class="card-header">
                <h4 class="card-title">Grid Reflection Results</h4>
                <a th:href="@{/grid-reflection/{id}(id=${aID})}">Submit New Grid Reflection</a>
                <br><br>
                <div th:each="gridreflection : ${gr}" th:unless="${gr.empty}">
                  <p th:text="${gridreflection.question} + ': ' + ${gridreflection.answer}"></p>
                </div>
                <div th:if="${gr.empty}">
                  <p>No Grid Reflection Submitted for this Activity</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Key Details</h4>
                <a th:if="${keydetails == null}" th:href="@{/new-activity/keydetails/{id}(id=${aID})}">Submit Key
                  Details</a>
                <a id="kde" class="editText" th:if="${keydetails != null}"
                  onclick="showEdit('#editform', '#showkd', '#kde')">Edit Key Details</a>
                <br><br>
                <div id="editform" th:unless="${keydetails == null}">
                  <form class="forms-sample" method="post" action="#"
                    th:action="@{/edit-activity/keydetails/{id}(id=${aID})}" th:object="${kdForm}">

                    <div class="form-group m-b-20">
                      <label for="eventDescription">Event Description</label>
                      <textarea class="form-control" id="eventDescription" th:field="*{description}"
                        th:text="${decryptedDescription}"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="eventRole">Your Role</label>
                      <input type="text" class="form-control" id="eventRole" th:field="*{role}"
                        th:value="${keydetails.role}">
                    </div>

                    <div class="form-group">
                      <label for="othersInvolved">Others Involved</label>
                      <input type="text" class="form-control" id="othersInvolved" th:field="*{othersInvolved}"
                        th:value="${decryptedOthers}">
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventImpact">Event Impact</label>
                      <textarea class="form-control" id="eventImpact" th:field="*{impact}"
                        th:text="${keydetails.impact}"></textarea>
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventTechnology">Learning Technology</label>
                      <textarea class="form-control" id="eventTechnology" th:field="*{learningTech}"
                        th:text="${keydetails.learningTech}"></textarea>
                    </div>
                    <button type="button" class="btn btn-light"
                      onclick="hideEdit('#editform', '#showkd', '#kde')">Cancel</button>
                    <button type="submit" class="btn btn-common mr-3">Save</button>
                  </form>
                </div>

                <div id="showkd" th:unless="${keydetails == null}">
                  <p th:text="'Event Description: ' + ${decryptedDescription}"></p>
                  <p th:text="'Your Role: ' + ${keydetails.role}"></p>
                  <p th:text="'Others Involved: ' + ${decryptedOthers}"></p>
                  <p th:text="'Impact it had: ' + ${keydetails.impact}"></p>
                  <p th:text="'Learning Technology: ' + ${keydetails.learningTech}"></p>
                </div>
                <div th:if="${keydetails == null}">
                  <p>No Key Details Submitted for This Activity</p>
                </div>
                <script th:inline="javascript">
                  function hideEdit(form, display, link) {
                    $(form).hide();
                    $(display).show();
                    $(link).show();
                  }
                  function showEdit(form, display, link) {
                    $(form).show();
                    $(display).hide();
                    $(link).hide();
                  }
                </script>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Reflection</h4>
                <a th:if="${reflections == null} " th:href="@{/new-activity/reflections/{id}(id=${aID})}">Submit
                  Reflections</a>
                <a id="eRef" th:if="${reflections != null}"
                  onclick="showEdit('#editReflectionForm', '#showRef', '#eRef')">Edit Reflection</a>
                <br><br>
                <div id="editReflectionForm" th:unless="${reflections == null}">
                  <form class="forms-sample" method="post" action="#"
                    th:action="@{/edit-activity/reflections/{id}(id=${aID})}" th:object="${rForm}">
                    <!--                                    <div class="alert alert-danger" class="invalidAlert" th:if="${param.error}">-->
                    <!--                                        <strong>Oops</strong> There are errors in the form, please correct them-->
                    <!--                                    </div>-->

                    <div class="form-group m-b-20">
                      <label for="eventApproach">Approach</label>
                      <textarea class="form-control" id="eventApproach" th:field="*{approach}"
                        th:value="${reflections.approach}"></textarea>
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventHappenings">Happenings</label>
                      <textarea class="form-control" id="eventHappenings" th:field="*{happenings}"
                        th:value="${reflections.happenings}"></textarea>
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventEvaluation">Evaluation</label>
                      <textarea class="form-control" id="eventEvaluation" th:field="*{evaluation}"
                        th:value="${reflections.evaluation}"></textarea>
                    </div>

                    <div class="m-1 custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkbox" th:checked="${reflections.needEvidence}" onclick="showHideEvidenceDiv()">
                      <label class="custom-control-label" for="checkbox">Do you need any evidence
                        to support this?</label>
                    </div>

                    <div class="form-group m-b-20" id="evidenceSection" style="display: none">
                      <label for="eventEvidence">Evidence</label>
                      <textarea class="form-control" id="eventEvidence" th:field="*{evidence}"
                        th:value="${reflections.evidence}"></textarea>
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventEBI">Possible Changes</label>
                      <textarea class="form-control" id="eventEBI" th:field="*{ebi}"
                        th:value="${reflections.ebi}"></textarea>
                    </div>

                    <div class="form-group m-b-20">
                      <label for="eventLearning">Learning</label>
                      <textarea class="form-control" id="eventLearning" th:field="*{learningPoints}"
                        placeholder="What learning points do you think you covered?"></textarea>
                    </div>
                    <button type="button" class="btn btn-light"
                      onclick="hideEdit('#editReflectionForm', '#showRef', '#eRef')">Cancel</button>
                    <button type="submit" class="btn btn-common mr-3">Save</button>
                  </form>
                </div>
                <div id="showRef" th:unless="${reflections == null}">
                  <p th:text="'Approach: ' + ${reflections.approach}"></p>
                  <p th:text="'What happened?: ' + ${reflections.happenings}"></p>
                  <p th:text="'Do you need evidence?: ' + ${reflections.needEvidence}"></p>
                  <p th:text="'Even Better if: ' + ${reflections.ebi}"></p>
                  <p th:text="'Learning Points: ' + ${reflections.learningpoints}"></p>
                </div>
                <div th:if="${reflections == null}">
                  <p>No Reflections Submitted for This Activity</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tags</h4>
                <a th:if="${tags.empty}" th:href="@{/new-activity/dimensions/{id}(id=${aID})}">Submit
                  Tags</a>
                <a id="eTag" th:if="${not tags.empty}" onclick="showEdit('#editTaggingForm', '#showTags', '#eTag')">Edit
                  Tags</a>
                <br><br>
                <form th:unless="${tags.empty}" id="editTaggingForm" class="inputForms" action="#"
                  th:action="@{/edit-activity/dimensions/{id}(id=${aID})}" method="post" th:object="${tForm}">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header border-bottom">
                          <h4 class="card-title">Areas of Activity</h4>
                        </div>
                        <div class="card-body">
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="1" value="1" th:field="*{tag1}">
                            <label class="custom-control-label" for="1">A1: Design and plan
                              learning activities and/or programmes of study</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="2" value="1" th:field="*{tag2}">
                            <label class="custom-control-label" for="2">A2: Teach and/or
                              support learning</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="3" value="1" th:field="*{tag3}">
                            <label class="custom-control-label" for="3">A3: Assess and give
                              feedback to learners</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="4" value="1" th:field="*{tag4}">
                            <label class="custom-control-label" for="4">A4: Develop
                              effective learning environments and approaches to student
                              support and guidance</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="5" value="1" th:field="*{tag5}">
                            <label class="custom-control-label" for="5">A5: Engage in
                              continuing professional development in subjects/disciples
                              and their pedagogy, incorporating research, scholarship and
                              the evaluation of professional practices</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="6" value="1" th:field="*{tag6}">
                            <label class="custom-control-label" for="6">D3.7: Supporting
                              colleagues</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header border-bottom">
                          <h4 class="card-title">Core Knowledge</h4>
                        </div>
                        <div class="card-body">
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="7" value="1" th:field="*{tag7}">
                            <label class="custom-control-label" for="7">K1: The subject
                              material</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="2" value="8" th:field="*{tag8}">
                            <label class="custom-control-label" for="8">K2: Appropriate
                              methods for reaching learning and assessing in the subject
                              area and at the level of the academic programme</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="9" value="1" th:field="*{tag9}">
                            <label class="custom-control-label" for="9">K3: How students
                              learn, both generally and within their subject/disciplinary
                              area(s)</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="10" value="1" th:field="*{tag10}">
                            <label class="custom-control-label" for="10">K4: The use and
                              value of appropriate learning technologies</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="11" value="1" th:field="*{tag11}">
                            <label class="custom-control-label" for="11">K5: Methods for
                              evaluating the effectiveness of teaching</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="12" value="1" th:field="*{tag12}">
                            <label class="custom-control-label" for="12">K6: The
                              implications of quality assurance and quality enhancement
                              for academic and professional practice with a particular
                              focus on teaching</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header border-bottom">
                          <h4 class="card-title">Professional Values</h4>
                        </div>
                        <div class="card-body">
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="13" value="1" th:field="*{tag13}">
                            <label class="custom-control-label" for="13">V1: Respect
                              individual learners and diverse learning communities</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="14" value="8" th:field="*{tag14}">
                            <label class="custom-control-label" for="14">V2: Promote
                              participation in higher education and equality of
                              opportunity for learners</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="15" value="1" th:field="*{tag15}">
                            <label class="custom-control-label" for="15">V3: Use
                              evidence-informed approaches and the outcomes from research,
                              scholarship and continuing professional development</label>
                          </div>
                          <div class="m-1 custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="16" value="1" th:field="*{tag16}">
                            <label class="custom-control-label" for="16">V4: Acknowledge the
                              wider context in which higher education operates recognising
                              the implications for professional practice</label>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-light"
                    onclick="hideEdit('#editTaggingForm', '#showTags', '#eTag')">Cancel</button>
                  <button type="submit" class="btn btn-common mr-3">Save</button>
                </form>
                <div id="showTags">
                  <div th:unless="${tags == empty}" th:block th:each="tg : ${tags}">
                    <p th:text="'Tag: ' + ${tg.name}"></p>
                    <p th:text="'Description: ' + ${tg.description}"></p>
                  </div>
                </div>
                <div th:if="${tags.empty}">
                  <p>No Tags Submitted for This Activity</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->
        <footer class="content-footer">
          <div class="footer">
            <div class="copyright">
              <span>Copyright © 2021 <b class="text-dark">UIdeck</b> All Right
                Reserved</span>
              <span class="go-right">
                <a href="" class="text-gray">Term &amp; Conditions</a>
                <a href="" class="text-gray">Privacy &amp; Policy</a>
              </span>
            </div>
          </div>
        </footer>
        <!-- Footer END -->

      </div>
      <!-- Page Container END -->
    </div>
  </div>

  <script type="text/javascript">
    function showHideEvidenceDiv() {
      var eviDiv = document.getElementById("evidenceSection");
      var checkbox = document.getElementById("checkbox");
      if (checkbox.checked) {
        eviDiv.style.display = "block";
      } else {
        eviDiv.style.display = "none";
      }
    }
  </script>

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery-min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.app.js"></script>
  <script src="/js/main.js"></script>
  <script src="assets/js/jquery.app.js"></script>

</body>

</html>